	html { 
	 
		height: 100%;
		overflow: auto;
	
	}
	
	body {
		
		background-color: rgba(100, 81, 51, 1);
		font-family: 'Lato', sans-serif;
		
		height: 100%;
		width: auto;
		
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		
		overflow: auto;
		
		
	}
	
	label	{
		
		display: inline-block;
		margin-top: 50px;
		
	}
	
	#container	{
		
		position: absolute;
		
		margin: 0;
		padding: 0;
		
		top: 0;
		left: 0;
		min-height: 100%;
		min-width:100%;
		
		
		background-image: url("layout_imgs/main_bg2.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		
		clear: both;
		
		
			
	}
	
	#main	{
		
		position: relative;
		top: 0;
		left: 0;
		
		min-height: 100%;
		min-width: 100%;
		margin: 0;
		padding: 0;
			
	}
	
	#left	{
		
		position: absolute;
		
		top: 0;
		left: 0;
		
		float: left;
		
		display: inline-block;
		
		padding-top: 30px;
		
		width: 13%;
		height: calc(100% - 30px);
		z-index: 1;
		
		text-align: center;
		
		background-color: rgba(100, 81, 51, 1);
		color: rgba(219, 237, 255, 1);
		box-shadow: 1px 0px 5px black;
		
		
	}
	
	
	#left label	{
		
		margin-top: 20px;
		display: block;
		
	}
	
	.left_menu	{
		
		list-style: none;
		padding: 0px;
		margin-top: 100px;
		
	}
	
	.left_menu li	{
		
		padding: 20px 20px;
		box-sizing: border-box;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		cursor: pointer;
		
		-webkit-transition: box-shadow .25s ease-in-out, background-color .25s ease-in-out;
		transition: box-shadow .25s ease-in-out, background-color .25s ease-in-out;
		
	}
	
	.line	{
		
		background-color: rgba(219, 237, 255, 1);
		height: 2px;
		width: 60px;
		margin-top: 5px;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		
		-webkit-transition: width .25s ease-in-out;
		transition: width .25s ease-in-out;
		
	}
	
	.left_menu li:hover	{
		
		background-color: rgba(219, 237, 255, 1);
		color: rgba(100, 81, 51, 1);
		box-shadow: 1px 1px 5px black; 
		
	}
	
	.left_menu li:hover .line	{
		
		width: 120px;
		background-color: rgba(100, 81, 51, 1);
		
	}
	
	
	.loginform	{
		
		margin: 10% 0% 10% 10%;
		width: 20%;
		
		font-size: 1.5em;
		font-weight: 200;
		color: rgba(219, 237, 255, 1);
		
	}
	
	
	input[type=text], input[type=password], input[type=number]	{
		
		border: none;
		border-bottom: 1.5px solid rgb(219, 237, 255);
		
		display: inline-block;
		width: 200px;
		height: 2em;
		padding-left: 10px;
		
		color: rgb(219, 237, 255);
		font-size: 0.75em;
		
		background-color: rgba(219, 237, 255, 0);
		
		-webkit-transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
		transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
		
	}
	
	
	input[type=text]:focus, input[type=password]:focus, input[type=number]:focus	{
		
		background-color: rgba(219, 237, 255, 1);
		color: rgba(100, 81, 51, 1);
		box-shadow: 1px 1px 5px black;
		
	}
	
	input[type=number]	{
		
		width: 30px;
		font-size: 1em;
		
	}
	
	input[type=checkbox]	{
		position: absolute;
		opacity: 0;
		width: 25px;
		height: 25px;
		cursor: pointer;
		
	}
	
	.checkmark	{
		
		display: inline-block;
		height: 25px;
		width: 25px;
		margin-right: 20px;
		
		background: none;
		
		border: solid 2px rgba(219, 237, 255, 0.5);
		border-radius: 6px;
		
		-webkit-transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
		transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
		
	}
	
	.checklabel:hover input ~ .checkmark	{
		
		background-color: rgba(219, 237, 255, 1);
		box-shadow: 1px 1px 5px black;
		
	}
	
	.checklabel input:checked ~.checkmark	{
		
		background-color: rgba(219, 237, 255, 1);
		
	}
	
	.checkmark:after	{
		
		content: "";
		display: none;
		margin: -10% 0% 2% 20%;
		
	}
	
	.checklabel input:checked ~.checkmark:after	{
		
		display: block;
		
	}
	
	.checklabel .checkmark:after	{
		
		left: 9px;
		top: 5px;
		width: 10px;
		height: 20px;
		
		border: solid rgba(100, 81, 51, 1);
		border-width: 0px 5px 5px 0px;
		
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		
		
	}
	
	.checklabel	{
		
		cursor: pointer;
		
	}
	
	.form_submit	{
		
		min-width: 100px;
		
	}
	
	.form_submit, .roll_button	{
		
		padding: 5px 10px 5px 10px;
		margin-left: 5%;
		
		color: rgba(219, 237, 255, 1);
		
		font-weight: 400;
		font-size: 0.75em;
		
		cursor: pointer;		
		
		background-color: transparent;
		border: 2px solid rgba(219, 237, 255, 0.5);
		border-radius: 10px;
		
		-webkit-transition: background-color .1s ease-in-out, box-shadow .25s ease-in-out;
		transition: background-color .1s ease-in-out, box-shadow .25s ease-in-out;
				
	}
	
	.form_submit:hover, .roll_button:hover	{
		
		background-color: rgba(219, 237, 255, 1);
		color: rgba(100, 81, 51, 1);
		box-shadow: 1px 1px 5px black;
		
	}
	
	.roll_button	{
		
		margin: auto;
		margin-top: 20px;
		display: block;
		
		
	}
	
	#dice_label	{
		
		
		margin: 0;
		
		display: block;
		
	}
	
	#dice_menu	{
		
		display: block;
		position: absolute;
		
		top: -300px;
		left: 13%;
		
		width: 87%;
		min-height: 270px;
		z-index: 2;
		
		background-color: rgba(100, 81, 51, 1);
		box-shadow: 2px 3px 4px -1px black;
		
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		
	}
	
	
	.dice_container	{
		
		float: left;
		display: inline-block;
		
		box-sizing: border-box;
		
		color: white;
		text-align: center;
		
		height: 100%;
		width: calc(100%/8);
		
		
		
	}
	
	.dice_container label	{
		
		margin-top: 20px;
		
	}
	
	#d4_container	{
		
		margin-left: calc(100%/9);
		
	}
	
	
	#dice_check	{
		
		margin-top: 5.5vh;
		margin-left: 5.5vh;
		
		position: fixed;
		visibility: hidden;
		
		width: 13vh;
		height: 13vh;
		
		border-radius: 6px;
		
		cursor: pointer;
		
	}
	
	#dice_box	{
		
		margin-top: 30px;
		margin-left: 15%;
		
		display: inline-block;
		position: fixed;
		
		width: 80px;
		height: 80px;
		z-index: 3;
		
		cursor: pointer;
		
		border: solid 0.3vh rgba(219, 237, 255, 0.5);
		border-radius: 1vw;
		
		background-image: url("layout_imgs/dice_menu4.png");
		background-size: cover;
		
		-webkit-transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
		transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
		
	}
	
	#dice_box:hover	{
		
		background-color: rgba(219, 237, 255, 1);
		background-image: url("layout_imgs/dice_menu4hover.png");
		box-shadow: 1px 1px 5px black; 
		
	}
	
	#dice_check:checked ~#dice_box	{
		
		background-color: rgba(219, 237, 255, 1);
		background-image: url("layout_imgs/dice_menu4hover.png");
		
	}
	
	
	
	.positiveprompt	{
		
		color: rgba(204, 255, 255, 1);
		
		font-weight: bold;
		
	}
	
	
	.error	{
		
		display: block;
		padding-top:50px;
		
		color: rgb(255, 230, 230);
		font-weight: bold;
		
	}
	
	a	{
		
		font-weight: bold;
		cursor: pointer;
		color: rgba(219, 237, 255, 1);
		
	}
	
	.roll_result	{
		
		font-weight: bold;
		
	}
	
	.tooldiv	{
		
		position: relative;
		display: inline-block;
		
	}
	
	.roll_result .tooltip	{
		
		/*visibility: hidden;*/
		
		position: absolute;
		left: 120%;
		bottom: 5%;
		z-index: 4;
		
		min-width: 50%;
		
		padding: 5px 5px;
		border-radius: 6px;
		
		background-color: rgba(219, 237, 255, 1);
		color: rgba(100, 81, 51, 1);
		
		opacity: 0;
		
		-webkit-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
		
		
		text-align: center;
		
	}
	
	.roll_result:hover .tooltip	{
		
		visibility: visible;
		opacity: 0.7;
		
	}
	
	.modifier_span	{
		
		display: block;
		position: relative;
		margin-top: -50px;
		font-size: 0.75em;
		
	}
	
	.modifier_label	{
		
		margin-left: 15px;
		
	}
	
	a.left_link	{
		
		text-decoration: none;
		
	}
	
	.dice_img	{
		
		width: 100px;
		height: 100px;
		display: block;
		

		margin-left: auto;
		margin-right: auto;
		
	}